# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Rathma
#	email = rathma@sanctuary.local
name = Rathma
email = rathma@kyso.dev
[github]
	user = wrathofrathma
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = master
